body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
  background: tomato;
}
h1{
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 35px;
}

#card {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  display: inline-block;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  width: 320px;
 
}

#profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

#full-name {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 15px;
}

.info {
  text-align: left;
  margin: 8px 0;
  color: #555555;
  font-size: 15px;
}

.label {
  font-weight: bold;
  color: #222222;
}

#new-user {
  margin-top: 15px;
  padding: 10px 20px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

#new-user:hover {
  background: #0056b3;
}
